* {
  font-family: "Poppins", sans-serif;
}
/* #f3f3f3, #232634 */
/* #E0E1DDBD */
body {
  background-color: #f9f9fb;
  margin: 0;
}

h2 {
  margin: 0;
}

.flex {
  display: flex;
  justify-content: center;
}

.container {
  max-width: 800px;
  width: 100%;
}

.h2-main {
  font-weight: bolder;
  margin: 0;
  color: #2c2c2ce8;
  font-size: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 10px;
}

.content-header {
  max-width: 100%;
  background-image: url(./waves.svg);
  background-color: #000104b3;
  position: relative;
  background-position: center;
  background-blend-mode: overlay;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#splide01 {
  text-align: center;
  display: flex;
  justify-content: center;
}

.splide__track {
  margin-left: 50px;
  margin-right: 50px;
}

.hourly-card {
  padding-bottom: 15px;
}

.hourly-card-icon {
  margin-bottom: -10px;
  margin-top: -10px;
  width: 70px;
}

.hourly-card-wind {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  font-size: 18px;
}

.hourly-time {
  font-weight: 400;
  font-size: 14px;
  color: #00000087;
}

.hourly-temp {
  font-size: 18px;
  font-weight: 500;
  color: #14213d;
}

.hourly-wind {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 300;
}

#search-section {
  max-width: 400px;
  width: 90%;
  padding-top: 20px;
}

#search-group {
  display: flex;
  justify-content: center;
}

#search-location {
  width: 90%;
  color: black;
  font-size: 1.2rem;
  border-style: none;
  background-color: #f8f9fe;
  border: 1px solid #0000001f;
  border-radius: 10px 0px 0px 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  padding: 5px;
}

.button-28 {
  background-color: #f8f9fe;
  appearance: none;
  border: none;
  border-radius: 0px 10px 10px 00px;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  font-size: 18px;
  line-height: normal;
  margin: 0;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  font-weight: 300;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: #fff;
  background-color: #9fddba;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}

#todays-weather {
  display: flex;
  justify-content: center;
}

#todays-weather-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  color: white;
  padding: 30px 0px 60px 0px;
}

.todays-weather-container-bottom {
  display: flex;
  text-align: center;
  justify-content: space-around;
  width: 100%;
  max-width: 1200px;
}

.todays-weather-container-bottom div h3 {
  font-weight: 400;
  font-size: 14px;
  color: white;
  margin-bottom: 5px;
}

.todays-weather-container-bottom div p {
  font-weight: 500;
  font-size: 22px;
  color: white;
  margin-top: 0px;
}

#todays-weather-temp {
  margin: 0;
  font-size: 90px;
  font-weight: 600;
}

#todays-weather-temp-c {
  font-size: 30px;
}

#todays-weather-location {
  text-align: center;
  font-weight: 400;
}

#todays-weather-icon {
  margin: -35px 0px -50px 0px;
  height: 180px;
  width: 180px;
}

.todays-weather-container-top {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.todays-weather-container-top-a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hourly-weather-header {
  margin-bottom: 10px;
}

.weekly-weather-header {
  display: flex;
}

#weekly-weather-container {
  border-radius: 15px;
}

.weekly-weather-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#weekly-weather-icon {
  width: 70px;
  margin-top: -5px;
}

.weekly-weather-icon {
  align-self: center;
}

.weekly-weather-date h2 {
  font-weight: 500;
  color: #383838;
  font-size: 18px;
}

.weekly-weather-date p {
  color: #00000087;
  font-weight: 400;
  font-size: 14px;
  margin: 0;
}

.weekly-weather-day-night {
  display: flex;
  gap: 10px;
}

.weekly-weather-day h2 {
  font-size: 16px;
  color: #383838;
  font-weight: 500;
}

.weekly-weather-night h2 {
  font-size: 16px;
  color: #00000087;
  font-weight: 500;
}

@media screen and (max-width: 600px) {
  .weekly-weather-date h2 {
    font-size: 16px;
  }
  .weekly-weahter-date p {
    font-size: 14px;
  }
  .weekly-weahter-day h2 {
    font-size: 16px;
  }
  .weekly-weahter-night h2 {
    font-size: 16px;
  }
  .hourly-temp {
    font-size: 16px;
  }
  .splide__arrow {
    display: none !important;
  }
  .splide__track {
    margin-left: 0px;
    margin-right: 0px;
  }
  #weather-graph {
    height: 180px !important;
  }
}

.custom-shape-divider-bottom-1653323201 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1653323201 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 50px;
}

.custom-shape-divider-bottom-1653323201 .shape-fill {
  fill: #f9f9fb;
}

#error-message {
  background-color: #df4a4a;
  text-align: center;
  border-radius: 15px;
  font-weight: 300;
  font-size: 20px;
  padding: 5px;
}

#weather-graph {
  max-width: 1200px;
  margin-bottom: -25px;
  padding: 0px 5px 5px 5px;
}

.graph-header {
  display: flex;
  justify-content: space-around;
}

.btn-group {
  display: flex;
  gap: 0px;
  width: 80%;
  max-width: 420px;
}

.btn-group button {
  background-color: #2c2c2c;
  color: #c5c5c5ba;
  cursor: pointer;
  float: left;
  font-weight: bolder;
  width: 100%;
  border-style: none;
  font-size: 12px;
}

.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group:first-child {
  border-left: none;
}

.btn-group button:not(:first-child) {
  border-left: 1px solid #b2b2b24a;
}

.btn-group button:hover {
  background-color: #9fddba;
  color: white;
}

.weather-extra {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  gap: 15px;
}

.weather-extra-top {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.weather-extra-top-item {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  border-radius: 15px;
  padding: 20px 0px;
  border: 1px solid #0000000a;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.weather-extra-bottom {
  display: flex;
  flex-direction: column;
  background-color: #2c2c2c;
  border-radius: 15px;
  align-items: center;
  padding: 20px 0px;
  box-shadow: rgba(44, 44, 44, 0.36) 0px 8px 24px;
  margin-top: 10px;
}

.h2-weather-extra {
  font-size: 14px;
  font-weight: 500;
  color: #3e3e3e87;
  text-align: center;
  margin: 0;
}

.slide-container {
  width: 90%;
}

.uvi-indicator-container {
  display: flex;
  justify-content: center;
}

#uvi-indicator {
  margin: 0;
  font-weight: 500;
  font-size: 12px;
  background-color: #9fddba;
  padding: 5px 20px;
  border-radius: 15px;
  color: black;
  text-transform: uppercase;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 12px;
  background: #d3d3d3;
  outline: none;
  opacity: 1;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  background: linear-gradient(
    90deg,
    #9de1c8,
    #a1d9ab,
    #aece8e,
    #bfc173,
    #d3b160,
    #e69f59,
    #f68960,
    #ff7373
  );
  border-radius: 15px;
}

.slider::-webkit-slider-thumb {
  width: 5px;
  height: 20px;
  background: #5e5e5e;
  cursor: pointer;
  border: none;
}

.slider::-moz-range-thumb {
  width: 5px;
  height: 20px;
  background: #5e5e5e;
  cursor: pointer;
  border: none;
}

.asd1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.todays-weather-info {
  display: flex;
  padding: 10px 0px;
  gap: 10px;
  max-width: 140px;
  width: 100%;
}

.todays-weather-info-left {
  align-items: center;
  display: flex;
}

.todays-weather-info-right {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.todays-weather-info-right p {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  color: #2c2c2c;
}

.material-symbols-outlined {
  background-color: #dbdbdb4f;
  border-radius: 15px;
  padding: 5px;
  color: #9d9b9b;
}

.uvi-header {
  color: white;
  font-size: 14px;
  font-weight: 500;
}

#weather-description {
  background-color: #ddd5d542;
  color: #f3f2f2;
  border-radius: 15px;
  padding: 3px 15px;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
}

.graph-container {
  background-color: #2c2c2c;
  border-radius: 15px;
  padding-bottom: 25px;
  padding-top: 15px;
  margin-top: 10px;
  box-shadow: rgba(44, 44, 44, 0.36) 0px 8px 24px;
}
